name: Deploy on server
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      # 2. Запустить приложение
      - name: Start everything
        run: |
          docker-compose down || true
          docker-compose up -d --build

      # 3. Проверить
      - name: Wait and check
        run: |
          sleep 15
